.strongText {
  color: #f95700;
  display: inline;
  font-weight: bold;
}

.text {
  display: inline;
}

.historyCard {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}

.historyAccidentBox {
  display: flex;
  gap: 10px;
}
