.textField {
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  background-color: transparent;
  color: #000;
  border: 1px solid gray;
  border-radius: 15px;
}

.textField:focus {
  outline: none;
  border-color: gray;
  box-shadow: 0 0 10px gray;
}
